
body {
  background: red !important;
}


body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f6f6f8;
  color: #2b2b2b;
}

header {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  border-bottom: 3px solid #6b2c91;
}

.logo {
  height: 70px;
}

nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #6b2c91;
  font-weight: 500;
}

.hero {
  max-width: 900px;
  margin: 80px auto;
  text-align: center;
}

.hero h1 {
  font-size: 38px;
  color: #6b2c91;
}

.hero p {
  font-size: 18px;
  margin: 20px 0;
}

.btn {
  display: inline-block;
  padding: 14px 30px;
  background: #6b2c91;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 500;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #777;
}
